
  body{
      background-image: url(../Images1/background.png);
      font-family: sans-serif;
  }

  .submission-form{
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid #E74C3C;
    padding: 2rem;
    background-image: url(../Images/back.png);
    
  }

  h1{
      text-align: center;
  }

  .submission-form input[type="submit"]{
      background-color: yellow;
      margin-left: 15px;
  }

  .submission-form input[type="reset"]{
    background-color: yellow;
    margin-left: 185px;
}

.submission-form p{
    color: red;
}

