@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1100px;
    overflow: auto;
    margin: 0 auto;
    padding: 0;
}

body {
    line-height: 1.6;
    background-color: #D5DBDB;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}
.link {
    margin-left: 60px;
}


img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: solid #fff;
    float: left;
    margin-left: 10px;
    margin-top: 10px;

}

.navbar {
    /* background-color: #047aed; */
    background-image: url(../Images/Logos/headerimage.jpg);
    color: #fff;
    height: 200px;
    background-repeat:repeat-x;
}

.navbar a {
    color: black;
    padding: 10px;
    margin: 0 5px;
}

.flex {
    display: flex;
}

.footer {
    background-color: #B2BABB;
}




